*{

    margin: 0;
    padding: 0;

}

:root{

    font-family: "Poppins";
    font-size: 16px;
    font-weight: 700;

}

body{

    align-items: center;
    background-color:rgba(199, 93, 93, 0.85) ;
    background-image: url(./images/bg-intro-desktop.png);
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 0;
    width: 100vw;

}

    .container{
        
        display: grid;
        grid-template: auto / 1fr 1fr;
        grid-template-areas: "section-description section-form";
        height: 600px;
        width: 1000px;

    }

        .section-description{

            color: white;
            display: flex;
            flex-direction: column;
            grid-area: section-description;
            height: 100%;
            justify-content: center;
            width: 100%;

        }

        .section-description p{
            
            font-size: min(4vw,20px);
            font-weight: 400;

        }

        .section-description h1{

            font-size: min(8vw,4rem);

        }

        .section-form{

            align-content: space-between;
            display: grid;
            grid-area: section-form;
            grid-template: 12% 85% / 100%;
            grid-template-areas:    'box-plan'
                                    'box-form';
            
        }

            .section-form > div{

                border-radius: 15px;
                box-shadow: 0px 8px rgba(0, 0, 0, 0.1);

            }

            .box-plan{

                align-items: center;
                background-color: hsl(248, 32%, 49%);
                color: white;
                display: flex;
                font-weight: 600;
                grid-area: box-plan;
                height: 100%;
                justify-content: center;
                width: 100%;

            }

            .box-form{

                align-items: center;
                background-color: white;
                display: flex;
                flex-direction: column;
                grid-area: box-form;
                justify-content: center;

            }


                form{

                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    height: 90%;
                    justify-content: space-evenly;
                    width: 100%;

                }   

                    .input-box{
                        
                        background: url(./images/icon-error.svg) no-repeat right;
                        border-radius: 5px;
                        height: 55px;
                        margin: 2% 0 2% 0;
                        position: relative;
                        width: 85%;     


                    }

                        .input-box::after{

                            color: red;
                            content: 'This field cannot be empty';
                            font-size: min(15px,2vw);
                            font-style: italic;
                            font-weight: 500;
                            height: 100%;
                            overflow: visible;
                            position: absolute;
                            right: 0;
                            top: 100;

                        }

                    input{

                        border: 1px solid rgba(0, 0, 0, 0.25);
                        border-radius: 5px;
                        font-family: 'Poppins';
                        font-size: 16px;
                        font-weight: 600;
                        height: 100%;
                        overflow: visible;
                        margin: 0;
                        padding: 0;
                        text-indent: 20px;
                        width: 100%;
                        
                    }

                        input:focus{

                            outline-color: hsl(248, 32%, 49%);
                            outline-style: solid;
                            outline-width: 1px;
                    
                        }
                    
                    input[type="submit"]{

                        background-color: hsl(154, 59%, 51%);
                        border: none;
                        border-radius: 5px;
                        box-shadow: 0px -5px 1px inset rgba(0, 0, 0, 0.1);
                        color: white;
                        font-family: 'Poppins';
                        font-weight: 600;
                        height: 59px;
                        margin-top: 3%;
                        transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
                        width: 85%;

                    }

                        input[type="submit"]:hover{

                            animation: pulse 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite alternate both;
                            background: url(./images/streamline-icon-check-circle-alternate@30x30.png) no-repeat center hidden;
                            background-color: hsl(125, 78%, 51%);

                        }
                            @keyframes pulse {
                                
                                from{

                                    font-size: 19.5px;

                                }

                                to{

                                    font-size: 20px;

                                }

                            }
                    
                .terms-and-service{

                    color: rgba(0, 0, 0, 0.3);
                    font-size: 10px;
                    font-weight: 600;
                    margin: 0 5% 0 5%;
                    padding: 0;


                }
                    span{

                        color:hsl(0, 100%, 74%) ;

                    }


@media screen and (max-width: 1100px) {

    body{

        align-items: flex-start;

    }

    .container{

        display: grid;
        grid-template: auto auto / auto;
        grid-template-areas:    "section-description"
                                "section-form";
        height: auto;
        padding-bottom: 2vh;
        text-align: center;
        width: 90%;
        
        

    }

    .section-description{
        
        height: auto;
        justify-content: space-evenly;


    }

        .section-description p{

            margin: 15px;

        }

    .section-form{

        height: min(90vh,1000px);

    }

        .box-plan{

            font-size: min(20px,3vw);

        }

        .section-form .input-box{

            height: max(30px, 15%);

        }

        .section-form input[type="submit"]{

            text-align: center;
            text-indent: 0;

        }
        
        .terms-and-service{

            font-size: max(8px,1.5vmin);
            transform: translateY(0);

        }
} 

    